<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ai.fastview.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0B6768FC-A476-41BD-A8B2-247F9F9D1B08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E61DCD77-7E60-42DB-A052-9ADE73580654</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2070F8C5-B59A-4C15-947E-C003823F77A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4E70927-45E2-40F9-A4F2-FD6516B44DE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32AC4E08-866E-4724-B41A-AAC8167C415C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22299E4C-2DA4-4270-90D0-BC55053DD221</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BA38398-2266-4718-AAB3-91142449916F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7001DE8-27F5-41C0-93B3-D8282B029029</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9C50AEC-5EF8-40AE-A48C-7A44E6F8ACE9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CA7FF80-530F-4C54-BE26-D4CD697EE583</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1E50DD5-B328-432C-93F8-09DC15A8582C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67760EE4-1659-41DF-A970-C9663FCD0F74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32AC4E08-866E-4724-B41A-AAC8167C415C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D58E53AE-54F6-42EE-A6FC-85D449D2FC33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84D6F323-DE9B-4679-91DE-26BD4730E3D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Omar Chehab (@oac)</string>
	<key>description</key>
	<string>Company workflows for GitHub and Linear</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fastview.ai</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/root-filter.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>The analytics platform built for humans.</string>
				<key>title</key>
				<string>Fastview</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3BA38398-2266-4718-AAB3-91142449916F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D7001DE8-27F5-41C0-93B3-D8282B029029</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B9C50AEC-5EF8-40AE-A48C-7A44E6F8ACE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://linear.app/{var:LINEAR_TEAM}/my-issues/assigned</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>84D6F323-DE9B-4679-91DE-26BD4730E3D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fv</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Issues</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D58E53AE-54F6-42EE-A6FC-85D449D2FC33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/create-linear-issue.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32AC4E08-866E-4724-B41A-AAC8167C415C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New issue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>22299E4C-2DA4-4270-90D0-BC55053DD221</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fv</string>
				<key>subtext</key>
				<string>Usage: -team -project -assignee -priority title</string>
				<key>text</key>
				<string>🛠️ New issue: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67760EE4-1659-41DF-A970-C9663FCD0F74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{var:GITHUB_REPO}/pulls</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E61DCD77-7E60-42DB-A052-9ADE73580654</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fv</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Pull requests</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0B6768FC-A476-41BD-A8B2-247F9F9D1B08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fv</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Deployments</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5CA7FF80-530F-4C54-BE26-D4CD697EE583</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://vercel.com/{var:VERCEL_PROJECT}/deployments</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D1E50DD5-B328-432C-93F8-09DC15A8582C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fv fg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>${NODE_PATH:-node} ./src/figma-filter.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Figma comments</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2070F8C5-B59A-4C15-947E-C003823F77A8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B4E70927-45E2-40F9-A4F2-FD6516B44DE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Fastview.ai Alfred Workflow

An Alfred workflow for quick access to Fastview.ai Linear issues, GitHub pull requests, Vercel deployments, and Figma comments.

## Required Configuration

- **GitHub Personal access tokens**:
  - Generate new token with max expiry, owned by Fastview-AI, with access to fastview-ai/sparrow-ml repository
  - Request GitHub org admin for approval
  - https://github.com/settings/tokens

- **Linear Personal API Key**:
  - Generate an API Key from **Linear &gt; Settings &gt; Account &gt; Security &amp; Access &gt; Personal API Key**
  - https://linear.app/fastview/settings/account/security/api-keys/new

- **Vercel Token**:
  - Generate a token from **Vercel &gt; Settings &gt; Tokens**
  - https://vercel.com/account/settings/tokens

- **Figma Personal Access Token**:
  - Generate a personal access token **Figma &gt; Profile / Settings &gt; Security tab &gt; Personal Access Token**
  - https://figma.com/

### Development

This workflow uses Node.js for script execution. By default it uses `node` command but you can change it by setting the `NODE_PATH` variable.

## Features

### Quick Navigation
- `fv` - Shows a list of searchable resources
- `fv` - Searches Linear issues by issue identifier or title
- `fv` - Searches GitHub pull requests by branch name or title
- `fv` - Searches Vercel deployments by branch name or title
- `fv` - Searches Figma comments by comment text

### Issue Creation
- `fv -team -project -assignee -priority title` - Create a new Linear issue
  - Example: `fv Fix authentication bug -p1`
  - Example: `fv -eng -canvas -oac -p1 Fix authentication bug`

## Author

Created by Omar Chehab (@oac)</string>
	<key>uidata</key>
	<dict>
		<key>0B6768FC-A476-41BD-A8B2-247F9F9D1B08</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>2070F8C5-B59A-4C15-947E-C003823F77A8</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>22299E4C-2DA4-4270-90D0-BC55053DD221</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>32AC4E08-866E-4724-B41A-AAC8167C415C</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>3BA38398-2266-4718-AAB3-91142449916F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>5CA7FF80-530F-4C54-BE26-D4CD697EE583</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>67760EE4-1659-41DF-A970-C9663FCD0F74</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>84D6F323-DE9B-4679-91DE-26BD4730E3D0</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>B4E70927-45E2-40F9-A4F2-FD6516B44DE5</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>B9C50AEC-5EF8-40AE-A48C-7A44E6F8ACE9</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>D1E50DD5-B328-432C-93F8-09DC15A8582C</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>D58E53AE-54F6-42EE-A6FC-85D449D2FC33</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D7001DE8-27F5-41C0-93B3-D8282B029029</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E61DCD77-7E60-42DB-A052-9ADE73580654</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>ghp_</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub Personal Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>lin_api_</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>https://linear.app/fastview/settings/account/security/api-keys/new</string>
			<key>label</key>
			<string>Linear API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>LINEAR_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Token Name: alfred
Scope: fastviewai
Expiration: No Expiration</string>
			<key>label</key>
			<string>Vercel Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>VERCEL_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>figd_</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set expiry to max.
Scope: Comments: Read-only</string>
			<key>label</key>
			<string>Figma Personal Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FIGMA_API_KEY</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DRY_RUN</key>
		<string>0</string>
		<key>FIGMA_FILE</key>
		<string>lOPMkYrHGieCZLRbzLyoZ5</string>
		<key>FIGMA_TEAM</key>
		<string>1492523426390454753</string>
		<key>GITHUB_REPO</key>
		<string>fastview-ai/sparrow-ml</string>
		<key>LINEAR_TEAM</key>
		<string>fastview</string>
		<key>NODE_PATH</key>
		<string>/Users/oac/.nvm/versions/node/v22.14.0/bin/node</string>
		<key>OFFLINE</key>
		<string>0</string>
		<key>VERCEL_PROJECT</key>
		<string>fastviewai/sparrow-ml</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DRY_RUN</string>
		<string>OFFLINE</string>
		<string>NODE_PATH</string>
	</array>
	<key>version</key>
	<string>4</string>
	<key>webaddress</key>
	<string>https://github.com/fastview-ai/fv-alfred</string>
</dict>
</plist>
